.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo

content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
content/.obsidian/workspace-*
content/.obsidian/graph.json

content/.obsidian/plugins/*
!content/.obsidian/plugins/*/

content/.obsidian/plugins/*/*
!content/.obsidian/plugins/*/data.json

content/.obsidian/plugins/recent-files-obsidian/data.json

.quartz
.quartz-cache
private/
.replit
replit.nix

content/.export/

.env
