#lightbox-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(4px);

  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  .lightbox-content {
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    background-color: var(--light);
    box-shadow:
      0 0 0 0.15rem #1b21301f,
      0 0 0 0.4rem #1b213014,
      0 0 0 0.75rem #1b21300a;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    img {
      max-width: 90vw;
      max-height: 70vh;
      object-fit: contain;
      display: block;
      cursor: zoom-out;
    }
  }
}
