.svg-theme-wrapper, 
.lightbox-media-wrapper {
  position: relative;
  
  .zoom-overlay-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    
    background: var(--light);
    color: var(--dark);
    border: 1px solid var(--lightgray);
    
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.2s ease, transform 0.1s ease;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .zoomIcon {
      image-rendering: pixelated;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &:hover .zoom-overlay-btn {
    opacity: 1;
  }
}

#lightbox-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  .lightbox-content {
    border: 1px solid var(--lightgray);
    border-radius: 5px;
    background-color: var(--light);
    box-shadow:
      0 0 0 1px #1b21301f,
      0 0 0 5px #1b213014,
      0 0 0 9px #1b21300a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: default;

    #lightbox-media {
      max-width: 90vw !important;
      max-height: 70vh; 
      object-fit: contain;
      display: block;
      cursor: auto; 
    }
  }
}