@use "./variables.scss" as *;
@use "sass:color";

[saved-theme="dark"] {
  --yellow-color: #ffb74d;
  --red-color: #d65d5d;
  --gray-color: #9e9e9e;
  --blue-color: #a5d8ff;
}

[saved-theme="light"] {
  --yellow-color: rgb(214, 114, 0);
  --red-color: #b83535;
  --gray-color: #7e7e7e;
  --blue-color: #1971c2;
}

.callout {
  border: 2.4px solid var(--border);
  background-color: var(--bg);
  border-radius: 5px;
  padding: 0 1rem;
  overflow-y: hidden;
  
  box-sizing: border-box;

  & > .callout-content {
    display: block;
    transition: grid-template-rows 0.1s cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;

    & > :first-child {
      margin-top: 0;
    }
  }

  --callout-icon-note: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cg transform='translate(2.0, 2.0) scale(2.0)'%3E%3Cmetadata%3EMade with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj%3C/metadata%3E%3Cpath fill='currentColor' d='M7 0h1v1h-1ZM6 1h1v1h-1ZM8 1h1v1h-1ZM5 2h1v1h-1ZM9 2h1v1h-1ZM4 3h1v1h-1ZM6 3h1v1h-1ZM8 3h1v1h-1ZM3 4h1v1h-1ZM7 4h1v1h-1ZM2 5h1v1h-1ZM6 5h1v1h-1ZM1 6h1v1h-1ZM5 6h1v1h-1ZM0 7h1v1h-1ZM4 7h1v1h-1ZM0 8h1v1h-1ZM3 8h1v1h-1ZM0 9h3v1h-3Z' /%3E%3C/g%3E%3C/svg%3E");
  --callout-icon-abstract: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M4 4v16h16V4H4Zm4 13H6v-2h2v2Zm10 0h-8v-2h8v2ZM8 13H6v-2h2v2Zm10 0h-8v-2h8v2ZM8 9H6V7h2v2Zm10 0h-8V7h8v2Zm4 13H2V2h20v20Z'/%3E%3C/svg%3E");
  --callout-icon-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M20 22H4v-2h16v2ZM4 20H2V4h2v16Zm18 0h-2V4h2v16Zm-9-9v6h-2v-6h2Zm0-2h-2V7h2v2Zm7-5H4V2h16v2Z'/%3E%3C/svg%3E");
  --callout-icon-todo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M20 22H4v-2h16v2ZM4 20H2V4h2v16Zm18 0h-2V4h2v16Zm-11-4H9v-2h2v2Zm-2-2H7v-2h2v2Zm4 0h-2v-2h2v2Zm2-2h-2v-2h2v2Zm2-2h-2V8h2v2Zm3-6H4V2h16v2Z'/%3E%3C/svg%3E");
  --callout-icon-tip: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M9 4h6v2H9zM7 6h2v2H7zm8 0h2v2h-2zm4-2h2v2h-2zm2-2h2v2h-2zM0 10h3v2H0zm21 0h3v2h-3zM3 4h2v2H3zM1 2h2v2H1zm6 12h2v2H7zm8 0h2v2h-2zM5 8h2v6H5zm12 0h2v6h-2zm-8 8h6v2H9zm0 4h6v2H9zm0-2h2v2H9zm4 0h2v2h-2zM11 0h2v3h-2z'/%3E%3C/svg%3E%0A");
  --callout-icon-success: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M10 18H8v-2h2v2Zm-2-2H6v-2h2v2Zm4-2v2h-2v-2h2Zm-6 0H4v-2h2v2Zm8 0h-2v-2h2v2Zm2-2h-2v-2h2v2Zm2-2h-2V8h2v2Zm2-2h-2V6h2v2Z'/%3E%3C/svg%3E");
  --callout-icon-question: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' shape-rendering='crispEdges'%3E%3Cg transform='translate(2.0, 2.909) scale(1.818)'%3E%3Cmetadata%3EMade with Pixels to Svg https://codepen.io/shshaw/pen/XbxvNj%3C/metadata%3E%3Cpath stroke='%23000000' d='M2 0h7M1 1h1M9 1h1M0 2h1M4 2h3M10 2h1M0 3h1M3 3h1M7 3h1M10 3h1M0 4h1M7 4h1M10 4h1M0 5h1M5 5h2M10 5h1M0 6h1M5 6h1M10 6h1M0 7h1M10 7h1M0 8h1M5 8h1M10 8h1M1 9h1M9 9h1M2 10h7' /%3E%3C/g%3E%3C/svg%3E");
  --callout-icon-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M14 22h-4v-2h4v2Zm-4-2H8v-2h2v2Zm6 0h-2v-2h2v2Zm-8-2H6v-2h2v2Zm10 0h-2v-2h2v2Zm-5-1h-2v-2h2v2Zm-7-1H4v-2h2v2Zm14 0h-2v-2h2v2ZM4 14H2v-4h2v4Zm18 0h-2v-4h2v4Zm-9-7v6h-2V7h2Zm-7 3H4V8h2v2Zm14 0h-2V8h2v2ZM8 8H6V6h2v2Zm10 0h-2V6h2v2Zm-8-2H8V4h2v2Zm6 0h-2V4h2v2Zm-2-2h-4V2h4v2Z'/%3E%3C/svg%3E");
  --callout-icon-failure: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg clip-path='url(%23clip0_1_2)'%3E%3Cpath d='M3 3H5V5H3V3ZM15 3H17V5H15V3ZM5 5H7V7H5V5ZM13 5H15V7H13V5ZM7 7H9V9H7V7ZM11 7H13V9H11V7ZM9 9H11V11H9V9ZM7 11H9V13H7V11ZM11 11H13V13H11V11ZM5 13H7V15H5V13ZM13 13H15V15H13V13ZM3 15H5V17H3V15ZM15 15H17V17H15V15Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
  --callout-icon-danger: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg> ');
  --callout-icon-bug: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M2 5h2v4H2zm20 0h-2v4h2zM4 9h2v2H4zm16 0h-2v2h2zM2 13h4v2H2zm20 0h-4v2h4zM4 17h2v2H4zm16 0h-2v2h2zM2 19h2v2H2zm20 0h-2v2h2zM6 11h12v2H6z'/%3E%3Cpath d='M6 7h2v12H6zm10 0h2v12h-2zM8 19h8v2H8zM8 5h8v2H8z'/%3E%3Cpath d='M11 15h2v6h-2zM8 1h2v6H8zm6 0h2v6h-2z'/%3E%3C/svg%3E");
  --callout-icon-example: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M10 5h12v2H10zm0 4h8v2h-8zm0 4h12v2H10zm0 4h8v2h-8zm-4-6H4V9h2v2ZM4 9H2V7h2v2Zm4 0H6V7h2v2ZM6 7H4V5h2v2Zm-2 6h2v2H4zm0 4h2v2H4zm-2 0v-2h2v2zm4 0v-2h2v2z'/%3E%3C/svg%3E");
  --callout-icon-quote: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M22 20H2v-2h20v2Zm0-4H2v-2h20v2ZM4 8h2v4H2V6h2v2Zm6 0h2v4H8V6h2v2Zm12 4h-8v-2h8v2Zm0-4h-8V6h8v2ZM6 6H4V4h2v2Zm6 0h-2V4h2v2Z'/%3E%3C/svg%3E");
  --callout-icon-fold: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M13 16h-2v-2h2v2Zm-2-2H9v-2h2v2Zm4 0h-2v-2h2v2Zm-6-2H7v-2h2v2Zm8 0h-2v-2h2v2ZM7 10H5V8h2v2Zm12 0h-2V8h2v2Z'/%3E%3C/svg%3E");

&[data-callout] {
  --color: var(--yellow-color);
  --border: color-mix(in srgb, var(--yellow-color) 50%, transparent);
  --bg: color-mix(in srgb, var(--yellow-color) 8.2%, transparent);
  --callout-icon: var(--callout-icon-note);
}

/* Blue Group */
&[data-callout="example"],
&[data-callout="todo"] {
  --color: var(--blue-color);
  --border: color-mix(in srgb, var(--blue-color) 40%, transparent);
  --bg: color-mix(in srgb, var(--blue-color) 8.2%, transparent);
}
&[data-callout="example"] { --callout-icon: var(--callout-icon-example); }
&[data-callout="todo"]    { --callout-icon: var(--callout-icon-todo); }

/* Purple Group */
&[data-callout="abstract"],
&[data-callout="info"] {
  --color: var(--tertiary);
  --border: color-mix(in srgb, var(--tertiary) 40%, transparent);
  --bg: color-mix(in srgb, var(--tertiary) 8.2%, transparent);
}
&[data-callout="abstract"] { --callout-icon: var(--callout-icon-abstract); }
&[data-callout="info"]     { --callout-icon: var(--callout-icon-info); }

/* Green Group */
&[data-callout="success"] {
  --color: var(--secondary);
  --border: color-mix(in srgb, var(--secondary) 50%, transparent);
  --bg: color-mix(in srgb, var(--secondary) 8.2%, transparent);
  --callout-icon: var(--callout-icon-success);
}

/* Yellow Group */
&[data-callout="question"],
&[data-callout="warning"],
&[data-callout="tip"] {
  --color: var(--yellow-color);
  --border: color-mix(in srgb, var(--yellow-color) 50%, transparent);
  --bg: color-mix(in srgb, var(--yellow-color) 8.2%, transparent);
  --callout-icon: var(--callout-icon-question);
}
&[data-callout="warning"] { --callout-icon: var(--callout-icon-warning); }
&[data-callout="tip"]     { --callout-icon: var(--callout-icon-tip); }

/* Red Group */
&[data-callout="failure"],
&[data-callout="danger"],
&[data-callout="bug"] {
  --color: var(--red-color);
  --border: color-mix(in srgb, var(--red-color) 50%, transparent);
  --bg: color-mix(in srgb, var(--red-color) 8.2%, transparent);
  --callout-icon: var(--callout-icon-failure);
}
&[data-callout="bug"]    { --callout-icon: var(--callout-icon-bug); }
&[data-callout="danger"] { --callout-icon: var(--callout-icon-danger); }

/* Gray Group */
&[data-callout="quote"] {
  --color: var(--gray-color);
  --callout-icon: var(--callout-icon-quote);
  --border: color-mix(in srgb, var(--gray-color) 50%, transparent);
  --bg: color-mix(in srgb, var(--gray-color) 8.2%, transparent);
}

  &.is-collapsed {
    & > .callout-title > .fold-callout-icon {
      transform: rotateZ(-90deg);
    }

    .callout-content {
      & > * {
        transition:
          height 0.1s cubic-bezier(0.02, 0.01, 0.47, 1),
          margin 0.1s cubic-bezier(0.02, 0.01, 0.47, 1),
          padding 0.1s cubic-bezier(0.02, 0.01, 0.47, 1);
        overflow-y: clip;
        height: 0;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
      }
      & > :first-child {
        margin-top: -1rem;
        hyphens: auto;
      }
    }
  }
}

.callout-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1rem 0;
  color: var(--color);

  --icon-size: 18px;
  & > .fold-callout-icon {
  margin-left: auto;
}

  & .fold-callout-icon {
    transition: transform 0.15s ease;
    opacity: 0.8;
    cursor: pointer;
    --callout-icon: var(--callout-icon-fold);
  }

  & > .callout-title-inner > p {
    color: var(--color);
    font-family: var(--titleFont);
    line-height: normal;
    margin: 0;
  }

  .callout-icon,
  & .fold-callout-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    flex: 0 0 var(--icon-size);

    // icon support
    background-size: var(--icon-size) var(--icon-size);
    background-position: center;
    background-color: var(--color);
    mask-image: var(--callout-icon);
    mask-size: var(--icon-size) var(--icon-size);
    mask-position: center;
    mask-repeat: no-repeat;
    padding: 0.2rem 0;
  }
  .callout-title-inner {
    font-weight: $semiBoldWeight;
  }
}
